<!-- Accurate Start -->

<div class="page page-forms-common">
  <div class="pageheader">
    <h2>{{ 'Menu.ACCURATE' | translate }}</span></h2>
    <div class="page-bar">
      <ul class="page-breadcrumb">
        <li><a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a></li>
        <li> {{'Menu.ACCURATE'|translate}} </li>
      </ul>
    </div>
  </div>
  <div class="pagecontent">
    <div class="row">
      <div class="col-md-12">
        <section class="tile" fullscreen="isFullscreen02">
          <form role="form" submit-validate enctype="multipart/form-data" name="accurateForm" novalidate>
            <div class="tile-body">
              <h4 class="custom-font text-strong">Accurate Background Check Credentials</h4>
              <div class="form-group" ng-class="{ 'has-error' :accurateForm.username.$invalid && !accurateForm.username.$pristine, 'has-success' : accurateForm.username.$valid && !accurateForm.username.$pristine}">
                <label for="exampleInputEmail1">Username</label>
                <input type="text" name="username" id="username" class="form-control" ng-model="ACL.username" required=""
                  aria-required="true" aria-invalid="true" on-blur-validation required>
                <p class="help-block">
                  <span ng-show="accurateForm.username.$invalid && !accurateForm.username.$pristine"> Username is
                    required.</span>
                </p>
              </div>
              <div class="form-group" ng-class="{ 'has-error' :accurateForm.password.$invalid && !accurateForm.password.$pristine, 'has-success' : accurateForm.password.$valid && !accurateForm.password.$pristine}">
                <label for="exampleInputEmail1">Password</label>
                <input type="text" name="password" id="password" class="form-control" ng-model="ACL.password" required=""
                  aria-required="true" aria-invalid="true">
                <p class="help-block">
                  <span ng-show="accurateForm.password.$invalid && !accurateForm.password.$pristine"> Password is
                    required.</span>
                </p>
              </div>
            </div>
            <div class="tile-footer text-right bg-tr-black lter dvd dvd-top">
              <button type="submit" class="btn btn-success btn-ef btn-ef-3 btn-ef-3c mb-10" ng-click="ACL.accurateSettings(accurateForm.$valid)">Submit<i
                  class="fa fa-arrow-right"></i></button>
            </div>
          </form>
        </section>
      </div>
    </div>
  </div>
</div>